body {
    font-family: 'Montserrat', sans-serif;
}

.menu {
    text-align: center;
}

.menu-link {
    display: inline-block;
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-block: 25px;
    margin-left: 72px;
}

.menu-link:last-child {
    margin-left: 50px;
}

.header-image {
    width: 100%;
}

.content {
    text-align: center;
    margin-inline: 67px;
}

.content-title {
    margin-top: 49px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #373737;
}

.content-text {
    margin-top: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #373737;
}

.content-text:nth-child(3) {
    margin-top: 28px;
}

.button {
    display: inline-block;
    margin-top: 66px;
    padding: 18px 43px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
}

.footer {
    text-align: right;
    margin-top: 82px;
    margin-bottom: 29px;
    margin-right: 105px;
}

.footer-text {

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #373737;
}